#demoBoxTop{ background: none repeat scroll 0 0 #646060;
             border-radius: 25px 25px 25px 25px;
             box-shadow: 2px 2px 2px #000000;
             display: block;
             height: 390px;
             text-shadow: 1px 1px 1px #FFFFFF;
             width: 840px;
             padding-top:30px;
             alignment-adjust:central;
             vertical-align:central;
}
#demoBoxDown{
    background: none repeat scroll 0 0 #646060;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 2px 2px 2px #000000;
    display: block;
    height: 300px;
    width: 800px;
    color: #FFF;
    font-size: 1.0em;
    font-weight: 100;
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
    text-align:justify;
}
div#MavajSunCo_CopyRight{
    margin: 0 auto;
    width: 400px;
}