/* --------- GLOBAL STYLES ------------ */
html,body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    /*font-family: "Myriad Set Pro","Lucida Grande","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";*/
}
/* ---------- Header Section ---------- */
.navbar{
    margin-bottom: 0;
    border-radius:0;
}
.navbar-default{}
/* ---------- Body Section ---------- */
.img-center {
    margin: 0 auto;
}
/* ---------- Footer Section ---------- */
footer{
    background-color: #f2f2f2;
    color:#FFF;
    background-image: url(http://www.MavajSunCo.com/resources/img/pattern/pattern10.png);
}
#footer-menu{
    margin: 20px 0 20px 0;padding: 0;
}
#footer-menu a{
    color:#FFF;
}
#footer-menu a:hover{
    text-decoration: none;
    color:#000;
    font-weight: bold;
}
footer span{
    font-size: 25px; 
    color: #999;
    cursor: pointer;
}
/* ------------------------------- Index Page --------------------------------*/
/* ------ CUSTOMIZE THE CAROUSEL ------ */
/* Carousel base class */
.carousel {
    height: 500px;
    margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 500px;
    background-color: #777;
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}

/*------------------------------Index Page -------------------------*/
#section-01{
    margin-top: -60px;
    padding-top: 40px;
    background-image: url(http://www.MavajSunCo.com/resources/img/pattern/pattern1.png);
}
#section-01 .featurette {
    margin: -50px 0; /* Space out the Bootstrap <hr> more */
}
/* Thin out the marketing headings */
#section-01 .featurette-heading {
    font-weight: 600;
    line-height: 1;
    letter-spacing: -1px;
}
#section-02{
    text-align: center;
    border-top: 1px solid #d1d1d1;
    padding-bottom: 20px;
    padding-top: 30px;
}
#section-02 i{
    font-size: 55px;
}
p{
    text-align: justify;
}
#section-02 h2 {
    display: inline;
    font-size: 48px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.1;
}
#section-02 .title{
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
}
#section-03{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 0;
    background: #f5f5f5;
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
}
#section-03 i{
    font-size: 25px;
}
#section-03 .title{
    font-size: 24px;
    margin-top: 10px;
}
#section-03 .seal {
    width: 101px;
    height: 101px;
    display: block;
    background: url(http://www.MavajSunCo.com/resources/img/global/v3-badge.png) no-repeat center;
    background-size: cover;
    text-align: center;
    padding: 25px 0;
    line-height: 15px;
    display: inline-block;
    margin-right: 25px;
    transform: rotate(-7deg);
    -ms-transform: rotate(-7deg);
    -webkit-transform: rotate(-7deg);
}
#section-03 .seal span {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 0;
    color: #fff;
    text-align: center;
    letter-spacing: -1px;
    font-family: 'Open Sans',sans-serif;
}
#section-03 h2 {
    display: inline;
    font-size: 48px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.1;
}
#section-04{
    text-align: center;
}
#section-05{
    padding-top: 35px;
    color: #F1F1F1;
    background-color: #79778B;
    background-image: url(http://www.MavajSunCo.com/resources/img/pattern/bg.png);
}
#section-06{}
/* ----------------------------- Contact Page --------------------------------*/
.myAddress{
    font: 16px Arial, Helvetica, sans-serif;
    color: #4d4d4d;
}
.myAddress address{
    background: #f3f3f3;
    padding: 10px;
}
/* ---------------------------- Our-Team Page --------------------------------*/
.our-team-text {
    text-align: justify;
    height: 80px;
}

/* ---------------------------- RESPONSIVE CSS ------------------------------ */
@media (min-width: 768px) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}
@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 120px;
    }
}