@charset "utf-8";
/* MAVAJ SUN CO - Gadget - Slide Show Viewer CSS  */

root { 
    display: block;
}

.slider {
    width:800px;
    height:350px;
    overflow:hidden;
    margin:0px auto;
    background-image:url(htdocs/img/loading.gif);
    background-size: 100px;
    background-repeat:no-repeat;
    background-position:center;
}
.shadow {
    background-image:url(htdocs/img/shadow.png);
    background-repeat:no-repeat;
    background-position:top;
    width:840px;
    height:144px;
    margin:-80px auto;
}
.slider img {
    width:800px;
    height:350px;
    display:none;
}

#box01 {
    background: none repeat scroll 0 0 #646060;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 2px 2px 2px #000000;
    display: block;
    height: 400px;
    text-shadow: 1px 1px 1px #FFFFFF;
    width: 840px;
    padding-top:30px;
    alignment-adjust:central;
    vertical-align:central;
}
#box02 {
    background: none repeat scroll 0 0 #646060;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 2px 2px 2px #000000;
    display: block;
    height: 80px;
    width: 800px;
    color: #FFF;
    font-size: 1.0em;
    font-weight: 100;
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
    text-align:justify;
}