/*****************************************
TABLE OF CONTENTS

1.  RESETS AND DEFAULTS
1.1 LAYOUT
2.  HEADER
2.1 HEADER FORM
2.1 HEADER SPRITES
3.  DRAGGABLE BOXES
4.  MENU
5.  ARTICLE
6.  TOOL-TIP
7.  FOOTER
8.  CONTENT
8.1 KEYNOTE BOX
9.  CLEARFIX
10. TRANSLUCENT MASK
*****************************************/

/*****************************************
COLOURS

GRAYS:
Dark				: #494949
Medium				: #808080
Light				: #E6E6E6 
ORANGE				: #f35925


GREEN 				: #C0CB2F
GREEN 				: #C2D021  
GRAY				: #808185  


GREEN 				: #B8CB24 
BLUE 				: #4864AD 
*****************************************/

/*****************************************
1. RESETS AND DEFAULTS

*****************************************/

html *
{
    border          : 0;
    margin          : 0;
    padding         : 0;
}

html
{
    height				: 100%;
}

body 
{
    font-size          : 62.5%;
    background			: #000000 url(../img/base/gradient.jpg);
    font-family        : Verdana !important;
    line-height        : 1.3;
    height				: 100%;
    text-align         : center;
    text-shadow		: 1px 1px 1px #000;
}

li
{
    list-style-type    : none;
}

a
{
    color              : #E6E6E6;
    text-decoration    : none;
}

a:hover
{
    color              : #FFFFFF;
    text-decoration    : none;
}

h1,
h2,
h3,
h4
{
    color              : #E6E6E6;
    margin-bottom		: 1em;
}

.replaced
{
    display            : block;
    overflow           : hidden;
    text-indent        : -5000px;
}

div#wrapper p
{
    color               : #E6E6E6;
}


/*****************************************
1.1 LAYOUT

*****************************************/

div#wrapper
{
    width           : 950px;
    position        : relative;
    min-height      : 100%;
    margin-left     : auto;
    margin-right    : auto;
    text-align      : left;
}

div#header
{
    margin          : 0;
    padding-top     : 15px;
}

div#content
{
    margin-left     : 18px;
    padding-bottom  : 65px;
}

div#draggables
{
    float           : left;
    width           : 600px;
}

div#extras
{
    position        : relative;
    float           : right;
    width           : 225px;
    border-left     : 1px solid #494949;
}

div#footer
{
    position        : absolute;
    bottom          : 0;
    width           : 100%;
    height          : 65px;
}



/*****************************************
2. HEADER

*****************************************/



div#header h1
{ 
    display         : block;
    width           : 270px;
    height          : 50px;
    /*background      : -webkit-gradient(linear, left top, left 30%, from(#314660), to(#364B66));*/
    /*background      : url(../img/base/logo_h1.png) no-repeat top left;*/
    float           : left;
    margin-bottom   : 0;
    font-size       : 350%;
    font-family     : Verdana;
    font-weight     : bolder;
    color           : #C0CB2F;
    letter-spacing  : -3px;
    text-shadow     : 1px 2px 2px #000;
}

div#header h2
{
    margin-top      : 20px;
    margin-left     : 5px;
    float           : left;
    font-weight     : normal;
    font-size       : 1.1em;
    text-shadow     : 1px 2px 2px #000;
}

div#header ul
{
    float           : right;
    margin-top      : 5px;
    padding-right   : 1.5em;
    width           : 204px;
}

div#header li
{
    display         : inline;
}

div#header a
{
    display         : block;
    padding         : 10px 0 0 15px;
    width           : 212px;
    height          : 30px;
    margin          : 20px 0 20px 725px;
    font-size       : 1.5em;
    font-weight     : bold;
    /*background    : url(../img/base/download_button.png) left top no-repeat;*/
    background      : #C0CB2F;
    color           : #3C4313;
    box-shadow      : 2px 2px 2px #000;
    text-shadow     : 1px 1px 1px #FFFFFF;
    border-radius   : 25px;
    box-shadow      : 1px 2px 1px #FFFFFF;
}

/*****************************************
2. HEADER FORM

*****************************************/

div#form_container
{
    width           : 187px;
    height          : 250px;
    background      : url(../img/base/form_bg.png);
    padding         : 5px 5px 5px 10px;
}

div#form_container p
{
    margin-bottom   : 1.3em;
}

div#form_container label
{
    font-size       : 1.2em;
}
div#form_content label
{
    width           : 120px;
    float           : left;
}

div#form_container label.block
{
    display         : block;
    margin-bottom   : 0.5em;

}


div#form_content input.submit
{
    margin-left     : 120px;
}

div#form_content input.text,
div#form_content select
{
    width           : 200px;
}

div#form_error_container
{
    color           : #FFFFFF;
    margin-left     : 120px;
    margin-bottom   : 1em;
}


div#header form
{
    float           : right;
    border-left     : 1px solid #494949;
    width           : 202px;
    padding         : 14px 13px 0 10px;
}


div#header input.text
{
    width           : 202px;
    font-size       : 1em;
    padding         : 1px 0;
}


div#header input.submit
{
    float           : right;
}

/*****************************************
2.2 HEADER SPRITES

****************************************/

div#header a#download
{
    height              : 13px;
    width               : 76px;
    background-image    : url(../img/base/download.png);
}

div#header a#download:hover
{
    background-position : 76px 0;
}

div#header a#subscribe
{
    height              : 19px;
    width               : 204px;
    background-image	: url(../img/base/get_sdk.png); 
    margin-top          : 10px;
    float               : right;
}
div#header a#subscribe:hover
{
    background-position : 203px 0;
}


/*****************************************
3. DRAGGABLE BOXES

*****************************************/

#draggables {
    font-size           : 9px;
    letter-spacing      : -1px;
    position            : relative;
}

#draggables div.box 
{
    width               : 200px;
    cursor              : move;
}

div.box h2
{
    position            : relative;
    margin-left		: -10px;
    font-size           : 1.4em;
    padding-left        : 15px;
    margin-bottom       : 3px;
}

div.box h3
{
    margin-bottom       : 3px;
}

div.box p
{
    margin-top          : 1em;
    font-size           : 0.9em;
    margin-bottom       : 0.2em;
}

div.box span
{
    font-size           : 0.8em;
    color               : #E6E6E6;
}


div.box h2.big
{
    padding-left        : 30px;
    padding-top		: 10px;
    margin-left         : -21px;
}

div#one h2{
    background          : transparent url(../img/base/icon_pink.png) 0 4px no-repeat;
}

div#one h2.big{
    background          : transparent url(../img/base/big_icon_pink.png) bottom left no-repeat;
}

div#two h2{
    background          : transparent url(../img/base/icon_purple.png) 0 4px no-repeat;
}

div#two h2.big{
    background          : transparent url(../img/base/big_icon_purple.png) bottom left no-repeat;
}

div#three h2{
    background          : transparent url(../img/base/icon_orange.png) 0 4px no-repeat;
}

div#three h2.big{
    background          : transparent url(../img/base/big_icon_orange.png) bottom left no-repeat;
}

div#four h2{
    background          : transparent url(../img/base/icon_red.png) 0 4px no-repeat;
}

div#four h2.big{
    background          : transparent url(../img/base/big_icon_red.png) bottom left no-repeat;
}

div#five h2{
    background          : transparent url(../img/base/icon_green.png) 0 4px no-repeat;
}

div#five h2.big{
    background          : transparent url(../img/base/big_icon_green.png) bottom left no-repeat;
}

div#six h2{
    background          : transparent url(../img/base/icon_blue.png) 0 4px no-repeat;
}

div#six h2.big{
    background          : transparent url(../img/base/big_icon_blue.png) bottom left no-repeat;
}


div#seven h2{
    background          : transparent url(../img/base/icon_darkviolet.png) 0 4px no-repeat;
}

div#seven h2.big{
    background          : transparent url(../img/base/big_icon_darkviolet.png) bottom left no-repeat;
}


div.box_content
{
    position            : relative;
    margin-left		: -17px;
    margin-bottom       : 0px;
    width               : 96%;
}

.resizable
{
    width               : 100%;
}


div.border_top_left
{
    background          : transparent url(../img/base/big_box2.png) no-repeat scroll left top;
}

div.border_top_right
{
    background          : transparent url(../img/base/big_box2.png) no-repeat scroll right top;
}

div.border_bottom_left
{
    background          : transparent url(../img/base/big_box2.png) no-repeat scroll left bottom;
}
div.border_bottom_right
{
    background          : transparent url(../img/base/big_box2.png) no-repeat scroll right bottom;
}


div.border_top_left
{
    position            : absolute;
    top                 : 0px;
    left                : -45px;
    height              : 100%;
    width               : 45px;

}

div.border_top_right
{
    position            : relative;
    padding-top         : 22px;
}

div.border_bottom_right
{
    height              : 40px;
}

div.border_bottom_left
{
    position            : absolute;
    left                : -45px;
    width               : 45px;
    height              : 40px;
}
/*****************************************
3. 1  PAGER

*****************************************/

div.box span
{
    float               : left;
    margin-right        : 5px;
}

div.box_content li
{
    float               : left;
    padding-left        : 3px;
    display             : inline;
    width               : 15px;
}

div.box a{
    cursor              : pointer;
}

div.box a.pager
{
    height              : 12px;
    width               : 12px;
    background-image	: url(../img/base/pager_sprite.png);
}

div.box a.selected
{
    background-position : 12px 0;
}


/*****************************************
4. NAVIGATION BAR

*****************************************/


div#navbar
{
    z-index             : 900;
    border-left		: 1px solid #494949;
    padding             : 0 1em 1em 1em;
    width               : 202px;
    float               : left;
}


div#navbar h2
{
    border-bottom       : 1px solid #E6E6E6;
    margin-bottom       : 0;
}

div#navbar li
{
    font-size           : 1.1em;
    font-weight		: 600;
    border-bottom       : 1px solid #E6E6E6;
    padding-top		: 5px;
}

div#navbar li.last
{
    border-bottom       : none;
}

div#navbar a em
{
    display             : block;
    font-style          : normal;
    color               : #999999;
    font-weight		: 500;
}

div#navbar p
{
    margin-bottom       : 1.3em;
}

/*****************************************
4. ARROW

*****************************************/

div#arrow_left
{
    height              : 450px;
    width               : 15px;
    background          : url(../img/base/arrow_left.png) no-repeat bottom left;
    float               : right;
}



/*****************************************
5. ARTICLE

*****************************************/


.scrollbar-vert{
    background          : transparent;
    height              : 620px;
    width               : 5px;
    border-right        : 1px solid #808080;
    float               : left;
}
.handle-vert{
    height              : 28px;
    width               : 12px;
    background          : url(../img/base/scroll.gif) top left no-repeat;
    cursor              : pointer;
}

div#article_content
{
    float               : left;
    font-size           : 1.2em;
    width               : 495px;
    height              : 620px;
    overflow            : hidden;
}


div#article_content h1
{
    color               :#b6b6b6;
}

div#article_content p
{
    margin-bottom       : 1.5em;
}

div#article_content a
{
    color               :#f35925;
}

div#article_content a:hover
{
    color               :#ffffff;
}

div#article_content li a.big_link
{
    display             :block;
    background          : url(../img/base/external_large.png) top left no-repeat;
    padding             :0 0 0 30px;
    font-size           : 1.5em;
    font-weight         :bold;

}

div#article_content li a.small_link
{
    background          : url(../img/base/external_small.png) top left no-repeat;
    display             :block;
    padding             :0 0 0 30px;
    font-size           : 1.2em;
    font-weight         :bold;
    text-align          :left;
}
div#article_content a.big_link:hover, div#article_content a.small_link:hover
{
    color               :#ffffff;
}

/*div#article_content li a.small_link span
{
padding: 0 0 0 30px;
}*/

div#one_column
{
    padding             : 0 0px 0 5px;
    float               : left;
    width               : 430px;
}

div#one_column h2.underline{
    border-bottom       :#FFFFFF 1px solid;
    padding             : 3px 0;
}

div#one_column #talk_to_us{

    clear               :both;
}

div#column_first
{
    padding             : 0 10px 0 5px;
    float               : left;
    width               : 200px;
}

div#column_second
{
    padding             : 0 0 0 10px;
    float               : left;
    width               : 200px;
}

div#column_second h3.first
{
    margin-top          :3em;
}

div#article_content ol li 
{
    color               :#ffffff;
    list-style-type     :decimal;
    list-style-position	:inside;
    margin-bottom       :1em;
}

div#article_content ul 
{
    margin              :1em 0;
}

div#article_content ul li 
{
    color               :#ffffff;
    list-style-type     : none;
    list-style-position	:inside;
    margin-bottom       :0.5em;
}

div#article_content div#column_first ul.nested li
{
    text-indent			:10px;
}

div#article_content div#column_first ul.nested li.nested
{
    text-indent			:20px;
}

div#article_content div#one_column ul.nested
{
    margin-left			:0px;
}

div#article_content div#one_column ul li.nested
{
    margin-left			:15px;
}

div#article_content ul.resources li
{
    margin-left			:10px;
}

div#article_content div#one_column table 
{
    color				:#ffffff;
    margin-bottom		:3em;
    border: 0;
}


div#article_content div#one_column h4
{
    border-top			:1px solid #E6E6E6;
    border-bottom		:1px solid #E6E6E6;
    color				:#ffffff;
    margin-top			:1em;
    padding				:5px 0;
}

div#article_content div#one_column h4.first_row
{
    margin				:0;
}

div#article_content div#one_column td h3
{
    padding				:0;
    margin				:0;
}

div#article_content div#one_column td.center 
{

    padding				:7px 0 0 0;
    background:url(../img/base/tick_box.png) center center no-repeat;

}

div#article_content div#one_column table img
{
    display				:block;
}

div#article_content td.color_td{
    background          :#494949;
}
div#article_content td{
    padding				:3px 0 3px 5px;
}

div#article_content tr.sub_header td {
    padding				:3px 0 3px 0;
}



/*****************************************
6. TOOL-TIP

*****************************************/
.tool-tip {
    color				: #fff;
    width				: 202px;
    z-index			: 13000;
}

.tool-title {
    display			: none;
}

.tool-text {
    color				: #000000;
    padding			: 8px 8px 8px 8px;
    background			: url(../img/base/form_bg.png);
}

/*****************************************
7. FOOTER

*****************************************/

div#footer li,
div#footer ul
{
    display			: inline;
}



/*****************************************
7.1  BOOKMARS

*****************************************/


div#footer ul#bookmarks li{
    float				: right;
}

div#footer #MavajSunCo
{
    width				: 26px;
    margin				: 0px 20px 5px 10px;
}

div#footer #MavajSunCo a
{
    height				: 50px;
    width				: 26px;
    background-image	: url(../img/base/MavajSunCoLogo.png);
}

div#footer #MavajSunCo a:hover
{
    background-position: 27px 0;
}

div#footer #rss
{
    width				: 21px;
    margin				: 15px 10px 5px 10px;	
}

div#footer #rss a
{
    height				: 21px;
    width				: 22px;
    background-image	: url(../img/base/rss.png);
}

div#footer #rss a:hover
{
    background-position: 21px 0;
}

div#footer #msc
{
    width				: 66px;
    margin				: 15px 10px 5px 10px;	
}

div#footer #msc a
{
    height				: 30px;
    width				: 66px;
    background-image	: url(../img/base/msc_logo.png);
}

div#footer #msc a:hover
{
    background-position: 67px 0;
}

/*****************************************
7.2 LEGALS

*****************************************/

div#footer ul#legals
{
    float				: left;
    width				: 400px;
    margin-top			: 25px;
}

div#footer ul#legals li
{
    padding			: 0 8px;
    background			: url(../img/base/pipe_divide.gif) no-repeat 0 1px;
}

div#footer ul#legals li.first
{
    background			: none;
}

div#footer ul#legals a
{
    color				: #808080
}

div#footer ul#legals a:hover
{
    color				: #E6E6E6;
}


/*****************************************
5. CONTENT

*****************************************/

/*****************************************
5. KEYNOTE BOX

*****************************************/
div#keynote
{
    width              : 200px;
    margin-bottom      : 2em;
}

div#keynote img
{
    border             : 1px solid #E6E6E6;
    margin             : 1em 0; 
    width              : 198px;
}

div#resources
{
    width              : 200px;
    margin-bottom      : 2em;
}

div#main-menu
{
    width              : 200px;
    margin-bottom      : 2em;
}


/*****************************************
9. CLEARFIX

*****************************************/
.clearfix:after
{
    clear              : both;
    content            : ".";
    display            : block;
    height             : 0;
    line-height        : 0;
    visibility         : hidden;
}

.clearfix
{
    display            : inline-block;
}

html[xmlns] .clearfix
{
    display            : block;
}

* html .clearfix
{
    height             : 1%;
}

/*------------------------------------------------------------------
10. TRANSLUCENT MASK
------------------------------------------------------------------*/

.last-focus
{
    z-index			: 600;
}

.the-focus
{
    z-index			: 700;
}

.translucent
{
    opacity			: 0.80; 
}

