div.box h2,
div.box h2.big
{
 margin-left        : 0;
}

div#keynote h2,
div#navbar h2
{
 font-size          : 1.5em;
}

div#article_content 
{
 font-size          : 1.2em;
}


div#article_content h1
{
 font-size          : 1.6em;
}

div#article_content h2
{
font-size:1.4em;
}

div#article_content h3
{
 font-size          : 1.2em;
}

div#article_content h4
{
font-size:1em;
}



div.border_top_left
{
 _background			: transparent url(../img/base/big_box2.gif) no-repeat scroll left top;
}

div.border_top_right
{
 _background			: transparent url(../img/base/big_box2.gif) no-repeat scroll right top;
}

div.border_bottom_left
{
 _background			: transparent url(../img/base/big_box2.gif) no-repeat scroll left bottom;
}
div.border_bottom_right
{
 _background			: transparent url(../img/base/big_box2.gif) no-repeat scroll right bottom;
}



div#column_second h3.first
{
margin-top			:2.8em;
}

div#article_content li a.small_link span
{
padding: 0 0 0 17px;
}
