@charset "utf-8";
/* CSS Document */
#wrapper
{
    width:800px;
    height:360px; 
    overflow:hidden;                               
}

#imageHolder
{
    background-image:url(http://www.mavajsunco.com/demo/gadgets/JavaScript/360DegreeProductView/htdocs/img/rotate360.jpg);

    background-repeat:no-repeat;
    /*background-position:0px 376px;
    -webkit-background-size:220px;
    -webkit-background-origin:content-box;*/ /* Safari */
    width:800px;
    height:360px; 
    cursor:pointer;    
}