<html>
<head>
<title>{$companyname} - {$LANG.clientareaemails}</title>
<link rel="stylesheet" type="text/css" href="templates/{$template}/invoicestyle.css">
</head>
<body bgcolor="#efefef">

<table id="wrapper" cellspacing="1" cellpadding="10" bgcolor="#cccccc" align="center"><tr><td bgcolor="#ffffff">

<p><strong>{$LANG.clientareaemailssubject}:</strong> {$subject}</p>
{$message}

</td></tr></table>

</body>
</html>