<customer>
    <set>
        <filter>
            <id><?php echo $id; ?></id>
        </filter>
        <values>
            <gen_info>
                <passwd><?php echo $accountPassword; ?></passwd>
            </gen_info>
        </values>
    </set>
</customer>