<reseller>
    <set>
        <filter>
            <id><?php echo $id; ?></id>
        </filter>
        <values>
            <gen-info>
                <passwd><?php echo $accountPassword; ?></passwd>
            </gen-info>
        </values>
    </set>
</reseller>