<reseller>
    <set>
        <filter>
            <id><?php echo $id; ?></id>
        </filter>
        <values>
            <gen-info>
                <status><?php echo $status; ?></status>
            </gen-info>
        </values>
    </set>
</reseller>