<reseller>
    <switch-subscription>
        <filter>
            <id><?php echo $externalId; ?></id>
        </filter>
        <plan-guid><?php echo $planGuid; ?></plan-guid>
    </switch-subscription>
</reseller>