<webspace>
    <switch-subscription>
        <filter>
            <name><?php echo $domain; ?></name>
        </filter>
        <plan-guid><?php echo $planGuid; ?></plan-guid>
    </switch-subscription>
</webspace>