<webspace>
    <add-subscription>
        <filter>
            <id><?php echo $id; ?></id>
        </filter>
        <plan-guid><?php echo $planGuid; ?></plan-guid>
    </add-subscription>
</webspace>