<webspace>
    <get>
        <filter>
            <name><?php echo $domain; ?></name>
        </filter>
        <dataset>
            <subscriptions/>
        </dataset>
    </get>
</webspace>