<client>
    <set>
        <filter>
            <login><?php echo $login; ?></login>
        </filter>
        <values>
            <gen_info>
                <passwd><?php echo $accountPassword; ?></passwd>
            </gen_info>
        </values>
    </set>
</client>