<client>
    <add>
        <gen_info>
            <cname><?php echo $companyname; ?></cname>
            <pname><?php echo $firstname; ?> <?php echo $lastname; ?></pname>
            <login><?php echo $username; ?></login>
            <passwd><?php echo $accountPassword; ?></passwd>
            <status><?php echo $status; ?></status>
            <phone><?php echo $phonenumber; ?></phone>
            <email><?php echo $email; ?></email>
            <address><?php echo $address1; ?></address>
            <city><?php echo $city; ?></city>
            <state><?php echo $state; ?></state>
            <pcode><?php echo $postcode; ?></pcode>
            <country><?php echo $country; ?></country>
        </gen_info>
    </add>
</client>