<reseller>
    <set>
        <filter>
            <login><?php echo $login; ?></login>
        </filter>
        <values>
            <gen-info>
                <passwd><?php echo $accountPassword; ?></passwd>
            </gen-info>
        </values>
    </set>
</reseller>