<domain>
    <set>
        <filter>
            <name><?php echo $domain; ?></name>
        </filter>
        <values>
            <gen_setup>
                <status><?php echo $status; ?></status>
            </gen_setup>
        </values>
    </set>
</domain>