<domain>
    <get>
        <filter>
            <owner-id><?php echo $ownerId; ?></owner-id>
        </filter>
        <dataset>
            <hosting/>
        </dataset>
    </get>
</domain>